In [ ]:
print("this is my print")

In [ ]:
l = [324]

In [ ]:
len(l)

In [ ]:
type(l)

In [ ]:
def test1():
    print("this is my very first function")

In [ ]:
test1()

In [ ]:
def test():
    pass

In [ ]:
test1() + "Rahim"

In [ ]:
def test2():
    return "This is my very first return"

In [ ]:
test2() + " Rahim"

In [ ]:
def test3():
    return "rahim" , 23, 345.56 , [1,2,3,3]

In [ ]:
test3()

In [ ]:
a,b,c,d = test3()

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
d

In [ ]:
a = 1 
b = 4

In [ ]:
a , b = 1,4

In [ ]:
def test4():
    a = 5+6/7
    return a

In [ ]:
test4()

In [ ]:
def test5(a, b ,c):
    d = a+b/c
    return d

In [ ]:
test5()

In [ ]:
test5(2,5,8)

In [ ]:
def test6(a,b):
    return a+b

In [ ]:
test6(3,4)

In [ ]:
test6("Abdul","Rahim")

In [ ]:
test6([1,2,3,4,5] , [4,5,6])

In [ ]:
l = [1,2,3,4,"Abdul" , "Rahim" ,[1,2,3,4,5,6]]

In [ ]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [ ]:
l1

In [ ]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [ ]:
test7(l)

In [ ]:
l

In [ ]:
def test8(a) : 
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [ ]:
test8(l)

In [ ]:
l

In [ ]:
test8()

In [ ]:
def test9(a) :
    """this is my function to extract num data from list"""
    
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [ ]:
test9(l)

In [102]:
def test10(a,b):
    return a+b

In [103]:
def test11(*args):
    return args

In [104]:
type(test11())

tuple

In [105]:
test11(1,2,3)

(1, 2, 3)

In [106]:
test11(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [107]:
def test12(*rahib):
    return rahib

In [108]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [109]:
def test13(*args , a) :
    return args , a

In [110]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [111]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [112]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [113]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [114]:
test14(3,4)

(23, 1, 3, 4)

In [115]:
test14(2,5 , a = 2342)

(2342, 1, 2, 5)

In [116]:
def test15(**kwargs):
    return kwargs

In [117]:
test15()

{}

In [118]:
type(test15())

dict

In [119]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}