In [14]:
l = [2,3,4,5,6]

In [15]:
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [16]:
test(l)

[4, 9, 16, 25, 36]

In [17]:
def sq(x):
    return x**2

In [18]:
l

[2, 3, 4, 5, 6]

In [19]:
list(map(sq , l))

[4, 9, 16, 25, 36]

In [20]:
list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36]

In [21]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

list(map(lambda x , y : x+y , l1 , l2 ))

[7, 9, 11, 13, 15]

In [ ]:
def add(x,y) :
    return x+y

In [22]:
list(map(add , l1 , l2 ))

[7, 9, 11, 13, 15]

In [23]:
s = "papaCodingUniverse"
list(map(lambda s : s.upper() , s))

['P',
 'A',
 'P',
 'A',
 'C',
 'O',
 'D',
 'I',
 'N',
 'G',
 'U',
 'N',
 'I',
 'V',
 'E',
 'R',
 'S',
 'E']

In [24]:
from functools import  reduce

In [25]:
l = [1,2,3,3,4,5]

In [26]:
reduce(lambda x ,y : x+y , l)

18

In [27]:
reduce(lambda x ,y : x+y , [])

TypeError: reduce() of empty iterable with no initial value

In [28]:
reduce(lambda x ,y : x+y , [1])

1

In [30]:
l

[1, 2, 3, 3, 4, 5]

In [29]:
reduce(lambda x ,y : x*y , l)

360

In [31]:
l

[1, 2, 3, 3, 4, 5]

In [32]:
list(filter(lambda x: x % 2 == 0 , l))

[2, 4]

In [33]:
list(filter(lambda x: x % 2 != 0, l))

[1, 3, 3, 5]

In [34]:
l1 = [-3,4,5,6,-1,-5]

In [35]:
list(filter(lambda x : x<0 , l1 ))

[-3, -1, -5]

In [36]:
l2 = ["rahim"  , "pcu" , "karim" , "bangladesh"]

In [37]:
list(filter(lambda x: len(x)<6, l2 ))

['rahim', 'pcu', 'karim']